.navbar {
    background-color: var(--monitor-not-checked-yet);
}

header {
    background: var(--monitor-not-checked-yet);
}

#summary {
    background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
    border-top: 0 solid var(--monitor-not-checked-yet);
}

#summary.fixed {
    transition: 200ms;
    border-top-width: .5em;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

#summary .section {
    float: left;
    padding: 1em;
    border-right: 1px solid #eee;
}

#summary .section.last {
    border: 0;
}

.status {
    transition: 800ms;
    display: inline-block;
    margin-right: .5em;
    background: var(--monitor-not-checked-yet);
    width: 1.8em;
    height: 1.8em;
    vertical-align: inherit;
    border: 2px solid #fff;
    border-radius: 100%;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
}

/* paused */
.status-0 {
    background-color: var(--monitor-paused);
}

/* not checked yet */
.status-1 {
    background-color: var(--monitor-not-checked-yet);
}

/* up */
.status-2 {
    background-color: var(--monitor-up);
}

/* seems down */
.status-8 {
    background-color: var(--monitor-seems-down);
}

/* down */
.status-9 {
    background-color: var(--monitor-down);
}

.reason, .time, .duration {
    display: block;
    font-size: .8em;
    line-height: 1.1em;
    white-space: nowrap;
}

.reason {
    font-weight: bold;
}

table {
    cursor: default;
}

th[class*=d-] {
    text-align: center;
    vertical-align: middle;
}

td[class*=r-] {
    text-align: center;
    vertical-align: middle;
    background: #F5F5F5;
}

tbody tr:hover,
tr:hover td[class*=r-],
td.r-0,
td.r-1 {
    background: #eee;
}

[class*=ratio-color] {
    display: inline-block;
    text-align: center;
    width: 90px;
    background-color: var(--monitor-down);
    color: #fff;
    font-weight: bold;
    font-size: .8em;
    padding: 5px 10px;
    border-radius: 4px;
}

.ratio-color-loading {
    background-color: var(--monitor-not-checked-yet);
}

.ratio-color-0 {
    background-color: var(--uptime-paused);
}

.ratio-color-96,
.ratio-color-97,
.ratio-color-98 {
    background-color: var(--uptime-warning);
}

.ratio-color-99 {
    background-color: var(--uptime-good);
}

.ratio-color-100 {
    background-color: var(--uptime-excelent);
}

.toast {
    position: fixed;
    right: 0;
    top: 0;
    margin: 2em;
    padding: 1em 2em;
    background: #333;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    opacity: 1;
    display: none;
}
